:root {
  --screen-size-small: 30em; /* breakpoint reference only */
}
@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.muted {
  color: rgba(77, 80, 97, 0.5);
}
.responsive-iframe {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
iframe {
  border: 0;
}
main, footer {
  animation: intro 0.3s both;
  animation-delay: 0.15s;
}
footer time[datetime$="M"]:before {
  content: "\2013\0020";
}
@media only screen
  and ( max-width: 30em ) {
  footer time[datetime$="M"] {
    display: none;
  }
}
blockquote cite {
  display: block;
}
blockquote cite::before {
   content: "\2014";
}
:target {
  color: #fff;
}
/* hack.css overrides and enhancements */
.main {
}

.critical {
    border-radius: 100%;
    width: 40px;
    height: 20px;
    padding: 0px;
    background: #56B4E9;
    border: 4px solid #56B4E9;
    color: #EBF2FA;
    text-align: center;
    font: 24px Courier New, sans-serif;
}

.recommended {
    border-radius: 100%;
    width: 40px;
    height: 20px;
    padding: 0px;
    color: #EBF2FA;
    border: 4px solid #0072B2;
    background-color: #0072B2;
    text-align: center;
    font: 24px Courier New, sans-serif;
}
.good {
    border-radius: 100%;
    width: 40px;
    height: 20px;
    padding: 0px;
    color: #EBF2FA;
    border: 4px solid #009E73;
    background-color: #009E73;
    text-align: center;
    font: 24px Courier New, sans-serif;
}

.terrible {
    border-radius: 100%;
    width: 40px;
    height: 20px;
    padding: 0px;
    color: #EBF2FA;
    border: 4px solid #D55E00;
    background-color: #D55E00;
    text-align: center;
    font: 24px Courier New, sans-serif;
}

nav a.active {
  background-color: #EBF2FA;
  color: #000;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  display: inline;
  padding-right: 1rem;
}

.navbar {
  overflow: hidden;
  background-color: #5C80BC;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
}


a[itemprop="name"] {
    color: #FFF;
    font-color: #FFF;
}

h2[itemprop="name"] {
    text-decoration-color: #5C80BC;
    font-color: #5C80BC;
}

h2:hover[itemprop="name"] {
    text-decoration-color: #FFF;
    font-color: #FFF;
}

a[itemprop="url"] {
  overflow: hidden;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
}

a[itemprop="url"]:hover {
  overflow: hidden;
  text-decoration: noe;
  background-color: #FFF;
  padding-top: 1.0rem;
  padding-bottom: 1.0rem;
  color: #5C80BC;
}

a[href*="://"]::after,
figure a[href*="://"]::after,
figure a[rel*="external"] {
  content: "";
}
html {
  font-size: 24px;
}
.hack pre {
  font-size: 24px;
}
article {
    color: #4D5061;
}
article [itemprop="description"], article [itemprop="summary"] {
  margin-bottom: 20px;
  margin-top: 20px;
}

article [itemprop="summary"] p {
  margin: 0;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1em;
  }
  .container {
    max-width: 50rem;
  }
}
html {
  font-size: 26px
}

* {
  box-sizing: border-box;
  text-rendering: geometricPrecision
}

body {
  color: #4D5061;
  font-size: 1rem;
  background-color: #EBF2FA;
  line-height: 1.5rem;
  margin: 0;
  font-family: Arial, monospace, serif;
  word-wrap: break-word
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em
}

fieldset {
  border: none;
  padding: 0;
  margin: 0
}

pre {
  padding: 2rem;
  margin: 1.75rem 0;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: auto
}

code {
  font-weight: 100;
  text-shadow: none;
  margin: 1.75rem 0;
  background-color: #fefadc;
  border: 1px solid #333;
}

a {
  cursor: pointer;
  color: #5C80BC;
  text-decoration: inherit;
}

a:hover {
  background-color: #5C80BC;
  color: #fff;
  text-decoration: inherit;
}

.grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.grid.\-top {
  -ms-flex-align: start;
  -ms-grid-row-align: flex-start;
  align-items: flex-start
}

.grid.\-middle {
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center
}

.grid.\-bottom {
  -ms-flex-align: end;
  -ms-grid-row-align: flex-end;
  align-items: flex-end
}

.grid.\-stretch {
  -ms-flex-align: stretch;
  -ms-grid-row-align: stretch;
  align-items: stretch
}

.grid.\-baseline {
  -ms-flex-align: baseline;
  -ms-grid-row-align: baseline;
  align-items: baseline
}

.grid.\-left {
  -ms-flex-pack: start;
  justify-content: flex-start
}

.grid.\-center {
  -ms-flex-pack: center;
  justify-content: center
}

.grid.\-right {
  -ms-flex-pack: end;
  justify-content: flex-end
}

.grid.\-between {
  -ms-flex-pack: justify;
  justify-content: space-between
}

.grid.\-around {
  -ms-flex-pack: distribute;
  justify-content: space-around
}

.cell {
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box
}

@media screen and (min-width: 768px) {
  .cell.\-1of12 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%
  }
  .cell.\-2of12 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%
  }
  .cell.\-3of12 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%
  }
  .cell.\-4of12 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%
  }
  .cell.\-5of12 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%
  }
  .cell.\-6of12 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%
  }
  .cell.\-7of12 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%
  }
  .cell.\-8of12 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%
  }
  .cell.\-9of12 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%
  }
  .cell.\-10of12 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%
  }
  .cell.\-11of12 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%
  }
}

@media screen and (max-width: 768px) {
  .grid {
    -ms-flex-direction: column;
    flex-direction: column
  }
  .cell {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }
}

p {
  margin: 0 0 1.75rem
}

.container {
  max-width: 70rem
}

.container, .container-fluid {
  margin: 0 auto;
  padding: 0 1rem
}

.inner {
  padding: 1rem
}

.inner2x {
  padding: 2rem
}

.pull-left {
  float: left
}

.pull-right {
  float: right
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.75rem 0;
  color: #778087
}

table td, table th {
  vertical-align: top;
  border: 1px solid #ccc;
  line-height: 15px;
  padding: 0px
}

table thead th {
  font-size: 10px
}

table tbody td:first-child {
  font-weight: 700;
  color: #333
}

.form {
  width: 30rem
}

.form-group {
  margin-bottom: 1.75rem;
  overflow: auto
}

.form-group label {
  border-bottom: 2px solid #ccc;
  color: #333;
  width: 10rem;
  display: inline-block;
  height: 38px;
  line-height: 38px;
  padding: 0;
  float: left;
  position: relative
}

.form-group.form-success label {
  color: #4caf50 !important;
  border-color: #4caf50 !important
}

.form-group.form-warning label {
  color: #ff9800 !important;
  border-color: #ff9800 !important
}

.form-group.form-error label {
  color: #f44336 !important;
  border-color: #f44336 !important
}

.form-control {
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: .5rem 0;
  width: 20rem;
  height: 38px;
  background-color: transparent
}

.form-control:focus {
  border-color: #555
}

.form-group.form-textarea label:after {
  position: absolute;
  content: '';
  width: 2px;
  background-color: #fff;
  right: -2px;
  top: 0;
  bottom: 0
}

textarea.form-control {
  height: auto;
  resize: none;
  padding: 1rem 0;
  border-bottom: 2px solid #ccc;
  border-left: 2px solid #ccc;
  padding: .5rem
}

select.form-control {
  border-radius: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none
}

.help-block {
  color: #999;
  margin-top: .5rem
}

.form-actions {
  margin-bottom: 1.75rem
}

.btn {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  padding: .65rem 2rem;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  z-index: 1
}

.btn:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .12)
}

.btn.btn-ghost {
  border-color: #757575;
  color: #757575;
  background-color: transparent
}

.btn.btn-ghost:focus, .btn.btn-ghost:hover {
  border-color: #424242;
  color: #424242;
  z-index: 2
}

.btn.btn-ghost:hover {
  background-color: transparent
}

.btn-block {
  width: 100%;
  display: -ms-flexbox;
  display: flex
}

.btn-default {
  color: #fff;
  background-color: #e0e0e0;
  border: 1px solid #e0e0e0;
  color: #333
}

.btn-default:focus:not(.btn-ghost), .btn-default:hover {
  background-color: #dcdcdc;
  border-color: #dcdcdc
}

.btn-success {
  color: #fff;
  background-color: #4caf50;
  border: 1px solid #4caf50
}

.btn-success:focus:not(.btn-ghost), .btn-success:hover {
  background-color: #43a047;
  border-color: #43a047
}

.btn-success.btn-ghost {
  border-color: #4caf50;
  color: #4caf50
}

.btn-success.btn-ghost:focus, .btn-success.btn-ghost:hover {
  border-color: #388e3c;
  color: #388e3c;
  z-index: 2
}

.btn-error {
  color: #fff;
  background-color: #f44336;
  border: 1px solid #f44336
}

.btn-error:focus:not(.btn-ghost), .btn-error:hover {
  background-color: #e53935;
  border-color: #e53935
}

.btn-error.btn-ghost {
  border-color: #f44336;
  color: #f44336
}

.btn-error.btn-ghost:focus, .btn-error.btn-ghost:hover {
  border-color: #d32f2f;
  color: #d32f2f;
  z-index: 2
}

.btn-warning {
  color: #fff;
  background-color: #ff9800;
  border: 1px solid #ff9800
}

.btn-warning:focus:not(.btn-ghost), .btn-warning:hover {
  background-color: #fb8c00;
  border-color: #fb8c00
}

.btn-warning.btn-ghost {
  border-color: #ff9800;
  color: #ff9800
}

.btn-warning.btn-ghost:focus, .btn-warning.btn-ghost:hover {
  border-color: #f57c00;
  color: #f57c00;
  z-index: 2
}

.btn-info {
  color: #fff;
  background-color: #00bcd4;
  border: 1px solid #00bcd4
}

.btn-info:focus:not(.btn-ghost), .btn-info:hover {
  background-color: #00acc1;
  border-color: #00acc1
}

.btn-info.btn-ghost {
  border-color: #00bcd4;
  color: #00bcd4
}

.btn-info.btn-ghost:focus, .btn-info.btn-ghost:hover {
  border-color: #0097a7;
  color: #0097a7;
  z-index: 2
}

.btn-primary {
  color: #fff;
  background-color: #2196f3;
  border: 1px solid #2196f3
}

.btn-primary:focus:not(.btn-ghost), .btn-primary:hover {
  background-color: #1e88e5;
  border-color: #1e88e5
}

.btn-primary.btn-ghost {
  border-color: #2196f3;
  color: #2196f3
}

.btn-primary.btn-ghost:focus, .btn-primary.btn-ghost:hover {
  border-color: #1976d2;
  color: #1976d2;
  z-index: 2
}

.btn-group {
  overflow: auto
}

.btn-group .btn {
  float: left
}

.btn-group .btn-ghost:not(:first-child) {
  margin-left: -1px
}

.card {
  border: 1px solid #ccc
}

.card .card-header {
  color: #333;
  text-align: center;
  background-color: #ddd;
  padding: .5rem 0
}

.alert {
  color: #ccc;
  padding: 1rem;
  border: 1px solid #ccc;
  margin-bottom: 1.75rem
}

.alert-success {
  color: #4caf50;
  border-color: #4caf50
}

.alert-error {
  color: #f44336;
  border-color: #f44336
}

.alert-info {
  color: #00bcd4;
  border-color: #00bcd4
}

.alert-warning {
  color: #ff9800;
  border-color: #ff9800
}

.media:not(:last-child) {
  margin-bottom: 1.25rem
}

.media-left {
  padding-right: 1rem
}

.media-left, .media-right {
  display: table-cell;
  vertical-align: top
}

.media-right {
  padding-left: 1rem
}

.media-body {
  display: table-cell;
  vertical-align: top
}

.media-heading {
  font-size: 1.16667rem;
  font-weight: 700
}

.media-content {
  margin-top: .3rem
}

.avatarholder, .placeholder {
  background-color: #f0f0f0;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  border: 1px solid #f0f0f0
}

.avatarholder {
  width: 48px;
  height: 48px;
  line-height: 46px;
  font-size: 2rem;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat
}

.avatarholder.rounded {
  border-radius: 33px
}

.loading {
  display: inline-block;
  content: '&nbsp;';
  height: 20px;
  width: 20px;
  margin: 0 .5rem;
  animation: a .6s infinite linear;
  border: 2px solid #e91e63;
  border-right-color: transparent;
  border-radius: 50%
}

.btn .loading {
  margin-bottom: 0;
  width: 14px;
  height: 14px
}

.btn div.loading {
  float: left
}

.alert .loading {
  margin-bottom: -5px
}

@keyframes a {
  0% {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(1turn)
  }
}

@media screen and (max-width: 768px) {
  .form-group label {
    display: block;
    border-bottom: none;
    width: 100%
  }
  .form-group.form-textarea label:after {
    display: none
  }
  .form-control {
    width: 100%
  }
  textarea.form-control {
    border-left: none;
    padding: .5rem 0
  }
  pre::-webkit-scrollbar {
    height: 3px
  }
}

@media screen and (max-width: 480px) {
  .form {
    width: 100%
  }
}

