{% import "post_macros.html" as post_macros %}

<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
      <!-- Enable responsiveness on mobile devices-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
      <title>{% block title %}{{ config.title }}{% endblock title %}</title>
      <link rel="icon" href="/favicon.svg" type="image/svg+xml">

      {% block css %}
          <link rel="stylesheet" href="{{ get_url(path="site.css", trailing_slash=false) | safe }}">
      {% endblock css %}

      {% block extra_head %}
      {% endblock extra_head %}
    </head>

    <body class="container">
        {% block content %}
            {% block header %}
                {% if config.extra.rybarski_menu %}
                    <header>
                        <nav itemscope itemtype="http://schema.org/SiteNavigationElement">
                            <ul class='navbar'>
                                <li>
                                    <a itemprop="url" 
                                       class=".active"
                                       href="/">
                                        <span itemprop="name">{{ config.title }}
                                        </span>
                                    </a>
                                </li>
                                {% for item in config.extra.rybarski_menu %}
                                <li style="float:right">
                                    <a itemprop="url"
                                       class="{% if item.url | replace(from="$BASE_URL", to=config.base_url) == current_url %}active{% endif %}"
                                       href="{{ item.url | safe | replace(from="$BASE_URL", to=config.base_url) }}">
                                        <span itemprop="name">&nbsp{{ item.name }}&nbsp
                                        </span>
                                    </a>
                                </li>
                        {% endfor %}
                            </ul>
                        </nav>
                    </header>
                {% endif %}
            {% endblock header %}

            <main>
                {% if config.extra.rybarski_title %}
                    <header>
                        {{ config.extra.rybarski_title }}
                    </header>
                {% endif %}
                {% for page in paginator.pages %}
		    {% if page.extra.is_page %}{% continue %}{% endif %}
                    {{ post_macros::page_in_list(page=page) }}
                {% endfor %}

                <nav>
                  <p>
                    {% if paginator.previous %}
                      <a href="{{ paginator.previous }}">&laquo; Previous</a> |
                    {% endif %}
                    <span>Page {{ paginator.current_index }} of {{ paginator.number_pagers }}</span>
                    {% if paginator.next %}
                      | <a href="{{ paginator.next }}">Next &raquo;</a>
                    {% endif %}
                  </p>
                </nav>
            </main>
        {% endblock content %}
    </body>

</html>
