{% extends "index.html" %}
{% import "post_macros.html" as post_macros %}

{% block content %}

    {% block header %}
        {% if config.extra.rybarski_menu %}
            <header>
                <nav itemscope itemtype="http://schema.org/SiteNavigationElement">
                    <ul class='navbar'>
                        <li>
                            <a itemprop="url" 
                               class=".active"
                               href="/">
                                <span itemprop="name">{{ config.title }}
                                </span>
                            </a>
                        </li>
                        {% for item in config.extra.rybarski_menu %}
                        <li style="float:right">
                            <a itemprop="url"
                               class="{% if item.url | replace(from="$BASE_URL", to=config.base_url) == current_url %}active{% endif %}"
                               href="{{ item.url | safe | replace(from="$BASE_URL", to=config.base_url) }}">
                                <span itemprop="name">{{ item.name }}
                                </span>
                            </a>
                        </li>
                {% endfor %}
                    </ul>
                </nav>
            </header>
        {% endif %}
    {% endblock header %}

<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 itemprop="headline">{{ page.title }}</h1>
        <span class="muted">{{ post_macros::meta(page=page) }}</span>
    </header>
    <div itemprop="articleBody">
      {{ page.content | safe }}
    </div>

    {% block page_footer %}
        <footer>
            <hr>
            <p>
                {% if config.extra.author %}
                    Published by {{ config.extra.author }}
                {% endif %}
                {% if page.taxonomies.categories %}
                    {% set category = page.taxonomies.categories[0] %}
                    in <a href="{{ get_taxonomy_url(kind="categories", name=category) | safe }}">{{ category }}</a>
                {% endif %}
                {% if page.taxonomies.tags %}
                    Tags:
                    {% for tag in page.taxonomies.tags %}
                        <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a>
                    {% endfor %}
                {% endif %}
            </p>
        </footer>
    {% endblock page_footer %}
</article>

{% endblock content %}

